
#sectionA{
    display: flex;
    padding-bottom: 50px;
    background-color: rgb(250, 247, 247);
    border-bottom: 1px solid rgb(230, 229, 229);
}



.section1{
   
    background-color: #0B4F41;
    
}
.section1a{
    
    text-align: left;
    padding-left: 210px;
    padding-right: 200px;
    padding-top: 100px;
}


.madeEasy{
    color: #23E0B8;
}

.heading1{
    font-size: 34px;
    color: white;
    font-family: "lft-etica",system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.paragraph1{
    color: white;
    font-size: 24px;
    line-height: 1.5
}

.hero-img{
    border-radius: 0 0 60% 0;
}

.request{
    display: flex;

}

.requestDemo{
    color: #0B4F41;
    background-color: white;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    padding: 18px 22px;
    border: none;
    cursor: pointer;
}

.requestDemo:hover{
    background-color: #f78da7;
    color: black;
    border-radius: 30px;
}

.try-free{
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-left: 30px;
    transition: border-bottom 0.5s;

}

.try-free :hover{
    
    border-bottom: 2px solid white;
}